body {
  font-family: 'Lato';
}

.reference {
  color: #2ecc71;
}

table tr, #random-topic {
  cursor: pointer;
}

table tr > td {
  color: #07c;
}

.container.main {
  padding: 2%;
}

.row.row-margin {
  margin-top: 1%;
}

header {
  background: #ecf0f1;
  text-align: center;
  font-family: 'Lato';
  font-weight: bold;
}

header h1 {
  font-weight: bold;
}