.letters ul {
  list-style: none;
  list-style-type: none;
  display: block;
}

.letters li {
  border-right: 1px solid black;
  float: left;
  width: 20px;
  text-align: center;
}

.letters li:nth-last-child(1) {
  border-right: none;
}

.letters a {
  font-weight: bold;
  text-decoration: none;
}
