body {
  padding: 1%;
}

.letters-search, .general-search {
  margin: 1%;
}

.reference {
  color: #2ecc71;
}

#random-topic {
  cursor: pointer;
}

table tr {
  cursor: pointer;
}

table tr > td {
  color: #07c;
}