<div class="row general-search">
  <div class="col-xs-12">
    <div class="input-group col-xs-12">
      <form action="/search" class="form-inline">
        <div class="form-group col-xs-12">
          <div class="input-group col-xs-12">
            <input id="search" type="text" class="form-control" name="search">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
