<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EGW</title>

    <%= css :app %>
  </head>

  <body>
    <div class="container">
      <br>

      <%= erb :letters_search %>

      <br>

      <%= yield %>  
    </div>

    <%= js :app %>
  </body>
</html>
