<div class="row">
  <div class="col-lg-12">
    <div class="btn-group-sm">
        <% ('A'..'Z').each do |l| %>
          <a class="btn btn-default" href="/subjects/<%= l %>"><%= l %></a>
        <% end %>
    </div>
  </div>
</div>
