<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple library</title>
</head>
<body>
	<p>Welcome to Simple library!</p>

  <p><%= link_to 'See', books_url %> your books or <%= link_to 'add', new_book_path %> one</p>
</body>
</html>