<%= link_to t('by_subject'), subjects_path %>
<br>
<br>
<h4>Processing subjects</h4>

<!-- http://wl.filegenie.com/~oliveiraetha/A.txt -->

<%= link_to 'Process subjects', process_files_subjects_path %>