<% if @topics %>
  <h3>Showing <%= @topics.count %> topics</h3>

  <div class="row">
    <div class="container">
      <% @topics.each_slice(10) do |a| %>
        <div class="col-lg-3">
          <div class="list-group">
            <% a.each do |s| %>
                <a class="list-group-item" href="/topic/<%= s._id %>" title="<%= s.name %>">
                  <%= s.name[0..20] %>
                </a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
